/* 페이지 내용 */
.content {
  text-align: center;
}

#news_cards {
  padding-top: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(30px);
}

#time {
  font-size: 10px;
  font-weight: 600;
  position: relative;
  left: 105px;
  top: 15px;
}
#news_cards > .card {
  width: 500px;
  margin-bottom: 10px;
}
.text-container {
  margin-bottom: 10px;
}
